Django
djangorestframework
psycopg2-binary
python-dotenv
asgiref
sqlparse
django-phonenumber-field
phonenumberslite
pillow
django-filter
djangorestframework-simplejwt==5.3.1
ipython==8.27.0
drf-yasg==1.21.7
setuptools==75.2.0
